:root {
    --white: hsl(0, 0%, 100%);
    --slate300: hsl(212, 45%, 89%);
    --slate500: hsl(216, 15%, 48%);
    --slate900: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--slate300);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.card {
    background-color: var(--white);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: var(--slate900);
    padding-bottom: 15px;
}

.text p {
    color: var(--slate500);
}